<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChesTron</title>
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <!--JQuery script-->
    <script src="/static/js/jquery-3.5.1.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!--chessjs script-->
    <script src="/static/js/chess.js"></script>

    <!--chessboardjs widget-->
    <link rel="stylesheet"
          href="/static/css/chessboard-1.0.0.min.css">
    <script src="/static/js/chessboard-1.0.0.min.js"></script>

</head>
<body class="play-page">
<!-- Hidden input to store opponent -->
<input type="hidden" id="opponent" value="{{ opponent }}">

<!--Main Page-->
<div class="background">
    <div class="gameplay-container">
        <div class="board-container">
            <!-- chess board view -->
            <div id="chess_board" class="chess-board" data-fen="{{fen}}"></div>
        </div>
        <div class="stats-container">
            <!-- Game stats -->
            <div class="game-player">
                <div id="model-widget" class="player-widget">
                    <p>
                        {% if opponent== 'Option1' %}
                        PRUNER
                        {% else %}
                        CNINGA
                        {% endif %}
                    </p>
                </div>
                <div class="player-avatar-widget">
                    <img
                            src="{% if opponent == 'Option1' %}/static/img/Pruner.png{% else %}/static/img/CNinga.png{% endif %}"
                            alt="MinMax"
                            class="opponent-image">
                </div>
            </div>
            <div class="game-stats">
                <div class="stats-head">Status:</div>
                <div id="status" class="move-data"></div>
                <div class="stats-head">PGN:</div>
                <div id="pgn" class="pgn-data"></div>
            </div>
            <div class="game-player">
                <div id="user-widget" class="player-widget">
                    <!-- Display the actual username -->
                    <p>{{ user.username if user else 'Guest' }}</p>
                </div>
                <div class="player-avatar-widget">
                    <img src="{{ user.profile_pic_url if user and user.profile_pic_url else url_for('static', filename='img/default.png') }}"
                         alt="{{ user.username if user else 'Guest' }}"
                         class="opponent-image">
                </div>
            </div>

        </div>
        <div class="control-container">
            <!--game controls-->
            <div class="game-controls">
                <button id="new_game" class="control-button">New Game</button>
                <button id="make_move" class="control-button">Make Move</button>
                <button id="take_back" class="control-button">Take Back</button>
                <button id="flip_board" class="control-button">Flip Board</button>
                <button id="quit_game" class="control-button">Quit Game</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    // Function to save the game to the database
    function saveGameToDB(isHistory) {
        const timestampOptions = {
            timeZone: "Asia/Kolkata",
            year: "numeric",
            month: "long",
            day: "numeric",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
            hour12: true
        };

        const status = $status.text();
        const pgn = game.pgn();
        const timestamp = new Date().toLocaleString("en-IN", timestampOptions);
        const saveType = isHistory ? "history" : "saved";
        const opponent = "{{ opponent }}";
        const fen = game.fen();

        if (pgn.trim() !== "") {
            $.ajax({
                url: '/save_game',
                type: 'POST',
                contentType: 'application/json',  // Tell Flask it's JSON
                data: JSON.stringify({
                    status: status,
                    pgn: pgn,
                    timestamp: timestamp,
                    type: saveType,  // 'history' for completed games, 'saved' for unfinished games
                    opponent: opponent,
                    fen: fen
                }),
                success: function (response) {
                    console.log(response.message);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        }
    }

    // Function to handle new game or quit prompts
    function promptSaveGame(action) {
        if (game.game_over()) {
            saveGameToDB(true); // Save as finished game automatically
            if (action === "new") {
                game.reset();
                board.position("start");
                updateStatus();
            } else if (action === "quit") {
                window.location.href = "/home";
            }
        } else {
            if (confirm("Do you want to save this game?")) {
                saveGameToDB(false); // Save as unfinished game
            }
            if (action === "new") {
                game.reset();
                board.position("start");
                updateStatus();
            } else if (action === "quit") {
                window.location.href = "/home";
            }
        }
    }

    // Handle new game button click
    $('#new_game').on('click', function () {
        const pgn = game.pgn();
        if (pgn.trim() !== "") {
            promptSaveGame("new");
        } else {
            game.reset();
            board.position("start");
            updateStatus();
        }
    });

    // Handle quit game button click
    $('#quit_game').on('click', function () {
        const pgn = game.pgn();
        if (pgn.trim() !== "") {
            promptSaveGame("quit");
        } else {
            window.location.href = "/home";
        }
    });

    // Handle make move button click
    $('#make_move').on('click', function () {
        make_move();
    });

    // Handle take back button click
    $('#take_back').on('click', function () {
        game.undo();
        game.undo();
        board.position(game.fen());
        updateStatus();
    });

    // Handle flip board button click
    $('#flip_board').on('click', function () {
        board.flip();
    });

    // Function to handle move logic
    function make_move() {
        const opponent = document.getElementById("opponent").value;

        $.post('/make_move', {'fen': game.fen(), 'opponent': opponent}, function (data) {
            game.move(data.best_move, {sloppy: true});
            board.position(game.fen());
            updateStatus();

            // If game is over, auto-save it to history
            if (game.game_over()) {
                saveGameToDB(true);
            }
        });
    }

    // Update game status
    function updateStatus() {
        var status = "";
        var moveColor = game.turn() === 'w' ? "White" : "Black";

        if (game.in_checkmate()) {
            status = "Game over, " + moveColor + " is in checkmate.";
        } else if (game.in_draw()) {
            status = "Game over, drawn position";
        } else {
            status = moveColor + " to move";
            if (game.in_check()) {
                status += ", " + moveColor + " is in check";
            }
        }

        $status.html(status);
        $fen.html(game.fen());
        $pgn.html(game.pgn());
        toggleActiveWidget();
    }

    //handle the highlight for player widget
    function toggleActiveWidget() {
        const currentTurn = game.turn();
        const userWidget = document.getElementById('user-widget');
        const modelWidget = document.getElementById('model-widget');

        if (currentTurn === 'w') {
            userWidget.classList.add('active');
            modelWidget.classList.remove('active');
        } else {
            modelWidget.classList.add('active');
            userWidget.classList.remove('active');
        }

    }

    //picking a piece
    function onDragStart(source, piece, position, orientation) {
        // do not pick up pieces if the game is over
        if (game.game_over()) return false

        // only pick up pieces for the side to move
        if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
            (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
            return false
        }
    }

    //dropping a piece
    function onDrop(source, target) {
        // see if the move is legal
        var move = game.move({
            from: source,
            to: target,
            promotion: 'q'
        })

        // illegal move
        if (move === null) return 'snapback'

        //make computer move
        make_move()

        //update status
        updateStatus()
    }

    // update the board position after the piece snap
    // for castling, en passant, pawn promotion
    function onSnapEnd() {
        board.position(game.fen())
    }

    // GUI board and game state variables
    var board = null;
    var fen = $('#chess_board').data('fen'); // Get FEN from the data attribute
    var game = fen ? new Chess(fen) : new Chess(); // Initialize game state based on FEN

    var $status = $('#status');
    var $fen = $('#fen');
    var $pgn = $('#pgn');

    // Chess board configurations
    var config = {
        draggable: true,
        position: fen || 'start', // Use FEN if available, otherwise start position
        onDragStart: onDragStart,
        onDrop: onDrop,
        onSnapEnd: onSnapEnd
    };

    // Create chess board widget instance
    board = Chessboard('chess_board', config);

    //update game status
    updateStatus()
</script>
